<div class="container">
  @if (plants.length > 0) {
    @for (plant of plants; track plant.name) {
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ plant.name | uppercase }} | {{ plant.type }}</mat-card-title>
          <mat-card-subtitle>Ultima muestra: {{ plant.environmentalMeasurement[0].measuredAt | date:'medium' }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-footer class="example-card-footer">
          <mat-chip-set>
            <mat-chip>Temperature: {{ plant.environmentalMeasurement[0].temperature }}°C</mat-chip>
            <mat-chip>Humedad: {{ plant.environmentalMeasurement[0].humidity }}%</mat-chip>
            <mat-chip>Luz: {{ plant.environmentalMeasurement[0].light }}%</mat-chip>
            <mat-chip>Humedad en substrato: {{ plant.environmentalMeasurement[0].soilMoisture }}%</mat-chip>
          </mat-chip-set>
        </mat-card-footer>
        <mat-card-actions>
          <button mat-button>Historial</button>
        </mat-card-actions>
      </mat-card>
    }
  }
</div>
